[submodule "vendor/rbenv"]
	path = vendor/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "vendor/nave"]
	path = vendor/nave
	url = https://github.com/isaacs/nave.git
[submodule "link/.rbenv/plugins/rbenv-vars"]
	path = link/.rbenv/plugins/rbenv-vars
	url = https://github.com/sstephenson/rbenv-vars.git
[submodule "link/.rbenv/plugins/ruby-build"]
	path = link/.rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "link/.rbenv/plugins/rbenv-default-gems"]
	path = link/.rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "link/.rbenv/plugins/rbenv-gem-rehash"]
	path = link/.rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule "link/.rbenv/plugins/rbenv-whatis"]
	path = link/.rbenv/plugins/rbenv-whatis
	url = https://github.com/rkh/rbenv-whatis.git
[submodule "link/.rbenv/plugins/rbenv-use"]
	path = link/.rbenv/plugins/rbenv-use
	url = https://github.com/rkh/rbenv-use.git
[submodule "link/.rbenv/plugins/rbenv-update"]
	path = link/.rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule "link/.vim/bundle/ag.vim"]
	path = link/.vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "link/.vim/bundle/auto-pairs"]
	path = link/.vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "link/.vim/bundle/ctrlp.vim"]
	path = link/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "link/.vim/bundle/editorconfig-vim"]
	path = link/.vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "link/.vim/bundle/nerdcommenter"]
	path = link/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "link/.vim/bundle/nerdtree"]
	path = link/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "link/.vim/bundle/syntastic"]
	path = link/.vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "link/.vim/bundle/tabular"]
	path = link/.vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "link/.vim/bundle/vim-go"]
	path = link/.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "link/.vim/bundle/vim-haskell"]
	path = link/.vim/bundle/vim-haskell
	url = git@github.com:wlangstroth/vim-haskell.git
[submodule "link/.vim/bundle/vim-javascript"]
	path = link/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "link/.vim/bundle/vim-jsx"]
	path = link/.vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "link/.vim/bundle/vim-orbital"]
	path = link/.vim/bundle/vim-orbital
	url = git@github.com:fcpg/vim-orbital
[submodule "link/.vim/bundle/vim-repeat"]
	path = link/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "link/.vim/bundle/vim-surround"]
	path = link/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "link/.vim/bundle/wordpress.vim"]
	path = link/.vim/bundle/wordpress.vim
	url = git@github.com:dsawardekar/wordpress.vim.git
[submodule "link/.vim/bundle/yajs.vim"]
	path = link/.vim/bundle/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule "link/.vim/bundle/vim-fugitive"]
	path = link/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "link/.vim/bundle/vim-rhubarb"]
	path = link/.vim/bundle/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
